extends ../layouts/basicLayout
block content
    h1.
        Group - #{group.name}
    h2.
        #{group.description}
    if isAdministrator
        a(href="/addGroupUser?groupId=#{group._id}") Add user to group<br>
    a(href="/createListing?groupId=#{group._id}") Add new listing
    h3.
        Property locations:
    ul
        each location, i in locations
            a(href="/listLocation?locationId=#{location._id}") #{location.name}
