extends ../layouts/basicLayout
block content
    h1.
        Group - #{group.name}
    h2.
        #{group.description}
    if isAdministrator
        a(href="/addGroupUser?groupId=#{group._id}") Add user to group<br>
    a(href="/createPost?groupId=#{group._id}") Add new listing
    h3.
        Property listings:
    ul
        each listing, i in listings
            li #{listing.title}<br>#{listing.description}
