extends ../layouts/layout
block content
    div(class='headings')
        h1 #{group.name}
        h2 #{group.description}
    div(class='content')
        p Property listings:
            form#formSearchListings(action="/searchListings", class='margin_left' method="post", name="searchListings")
                input#inputQuery(name="query", type="text")
                button#buttonSearch(type="submit") search
            ul(class="margin_left_big")
                each listing, i in listings
                    li
                        a(href="/viewListing?listingId=#{listing._id}") #{listing.location}&nbsp;-&nbsp;#{listing.description}
    div(class='footer')
        p
            if isAdministrator
                a(href="/addGroupUser?groupId=#{group._id}") Add user to group<br>
            a(href="/createListing?groupId=#{group._id}") Add new listing
